@import "tailwindcss";

@layer base {
  #root {
    @apply max-w-4xl mx-auto p-8;
  }

  body {
    @apply text-gray-800 antialiased leading-relaxed;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-6 mb-4;
    position: relative;
    break-after: avoid;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-xl;
  }

  p {
    @apply mb-4;
  }

  code {
    @apply bg-gray-100 px-1.5 py-0.5 rounded font-mono;
  }

  pre {
    @apply bg-gray-100 p-4 rounded overflow-x-auto mb-4;
  }

  pre code {
    @apply bg-transparent p-0;
  }

  a {
    @apply text-blue-600 no-underline hover:underline;
  }

  ul,
  ol {
    @apply ml-8 mb-4;
  }

  mjx-container svg {
    @apply inline;
    margin-top: 10px;
    margin-right: 20px;
  }

  .solution {
    @apply text-green-600 font-semibold;
  }

  .App.hide-solutions .solution {
    @apply invisible;
  }

  .App:not(.hide-solutions) .solution-toggle {
    @apply bg-green-600 text-white;
  }

  /* move section numbers to the left */
  .section-number {
    width: 50px;
    display: block;
    position: absolute;
    left: -50px;
  }
  /* add left margin to content to accommodate section numbers */
  .content {
    margin-left: 50px;
  }

  .note {
    display: none;
  }

  .exercise {
    border: 1px solid;
    margin-bottom: -1px;
    padding: 10px;
    break-inside: avoid;
  }

  .exercise p {
    margin-bottom: 0;
  }
}

@media print {
  nav {
    display: none;
  }

  @page {
    counter-increment: page;
    size: A4;
    margin-bottom: 20mm;
    margin-left: 5mm;

    @bottom-right {
      padding-right: 20px;
      font-size: 12px !important;
      content: "Seite " counter(page) " von " counter(pages);
      margin-right: 3mm;
    }

    @bottom-left {
      margin-left: 23mm;
    }
  }
}
